html, body{
  height: 100%;
  width: 100%;
}
body {
  background-color: #e8e9eb;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app fieldset{
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

#canvas-holder canvas{

}
